{% extends "network/layout.html" %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', () => {

        //fetch posts
        fetch('/getposts/all')
            .then(response => response.json())
            .then(posts => {
                // Print posts
                console.log(posts);
                posts.forEach(post => {
                    const li = document.createElement('div');
                    li.style.border = "2px solid rgb(191, 191, 191)";
                    li.style.margin = "20px";
                    li.innerHTML = "<span style=\"font-weight: bold;\">&nbsp;" + post.creator + "</span><br>";
                    li.innerHTML += post.post_text + "<br>" + post.date + "<br>" + post.likes + " ❤️";


                    li.querySelector('span').addEventListener('click', function () {
                        console.log('clicked on username')
                        location.href=`profile/${post.creator}`
                    })

                    // Add new item to task list
                    document.querySelector('#posts').append(li);
                })
            });


    })



</script>

<h1 style="margin:10px;">All Posts</h1>
<div style="margin:20px;border:2px solid rgb(191, 191, 191);">
    <h2 style="margin:10px;">New Post</h2>
    <form action="{% url 'newpost' %}" method="post" style="padding-right: 20px;" id="compose-form">
        {% csrf_token %}
        <textarea style="margin:10px;resize:none;" class="form-control" id="compose-post" name="post"
            placeholder="Post"></textarea>
        <input value="Post" style="margin:5px;" type="submit" class="btn btn-primary" />
    </form>
</div>

<ul style="list-style:none;"id="posts"></ul>
{% endblock %}