{% extends "network/layout.html" %}

{% block body %}
<script>
    function edit(element) {
        let li = element.parentElement
        li.querySelector('#edit').style.display = "block";

    }

    function like(element, postid) {
        id = parseInt(postid)
        fetch(`/like/${postid}`)
            .then(response => response.json())
            .then(post => {
                element.querySelector('#likecount').innerHTML = post.likes;
            });
    }
</script>

<h1 style="margin:10px;">All Posts</h1>
<div style="margin:20px;border:2px solid rgb(191, 191, 191);">
    <h2 style="margin:10px;">New Post</h2>
    <form action="{% url 'newpost' %}" method="post" style="padding-right: 20px;" id="compose-form">
        <div>{% csrf_token %}</div>
        <textarea style="margin:10px;resize:none;" class="form-control" id="compose-post" name="post"
            placeholder="Post"></textarea>
        <input value="Post" style="margin:5px;" type="submit" class="btn btn-primary" />
    </form>
</div>

{% for post in posts %}
<li style="list-style:none;border:2px solid rgb(191, 191, 191);margin:20px">
    <a href="{% url 'profile' post.creator.username %}" style="font-weight: bold;color:black;">
        {{ post.creator.username }}</a>
    <br>
    {% if name == post.creator.username %}
    <div>
        <div onclick="edit(this)" style="color:rgb(73, 73, 225);">Edit</div>
        <div id="edit" style="display:none;">
            <form id="edit-form" class="form" action="{% url 'update' post.id %}" method="post"
                style="padding-right: 20px;" id="edit-form">
                <div>{% csrf_token %}</div>
                <textarea style="margin:10px;resize:none;" class="form-control"
                    name="edit">{{post.post_text}}</textarea>
                <input value="Post" style="margin:5px;" type="submit" class="btn btn-primary" />
        </div>
    </div>
    {% endif %}

    </form>
    <div id="posttext">{{ post.post_text }}</div>
    <br>
    {{ post.date}}
    <br>
    <div style="width:40px;" onclick="like(this,`{{post.id}}`);" id="likes">
        <span id="likecount">{{ post.likes }}</span> ❤️
    </div>

</li>
{% endfor %}

<ul style="list-style:none;" id="posts"></ul>
{% endblock %}