{% extends "network/layout.html" %}


{% block body %}
<h1 style="margin:10px;">{{ profile }}'s Posts</h1>
<br>
<div>Followers: {{ followers }}</div>
<div>Following: {{ following }}</div>
{% if username != profile.username %}
<button class="btn btn-sm btn-outline-primary" id="follow">{{followtext}}</button>
{% endif %}

<script>


    document.addEventListener('DOMContentLoaded', () => {

        document.getElementById('follow').onclick = function () {
            console.log("follow");
            location.href = "{% url 'follow' profile %}"
        }

    })

    function like(element, postid) {
        id = parseInt(postid)
        fetch(`/like/${postid}`)
            .then(response => response.json())
            .then(post => {
                element.querySelector('#likecount').innerHTML = post.likes;
            });
    }



</script>



{% for post in posts %}
<li style="list-style:none;border:2px solid rgb(191, 191, 191);margin:20px">
    <a href="{% url 'profile' post.creator.username %}" style="font-weight: bold;color:black;">
        {{ post.creator.username }}</a>
    <br>

    </form>
    <div id="posttext">{{ post.post_text }}</div>
    <br>
    {{ post.date}}
    <br>
    <div style="width:40px;" onclick="like(this,`{{post.id}}`);" id="likes">
        <span id="likecount">{{ post.likes }}</span> ❤️
    </div>

</li>
{% endfor %}

<ul style=" list-style:none;" id="posts"></ul>
{% endblock %}