{% extends "network/layout.html" %}


{% block body %}
<h1 style="margin:10px;">{{ profile }}'s Posts</h1>
<br>
<div>Followers: {{ followers }}</div>
<div>Following: {{ following }}</div>
{% if username != profile.username %}
<button class="btn btn-sm btn-outline-primary" id="follow">{{followtext}}</button>
{% endif %}

<script>


    document.addEventListener('DOMContentLoaded', () => {

        document.getElementById('follow').onclick = function () {
            console.log("follow");
            location.href = "{% url 'follow' profile %}"
        }

    })



</script>



{% for post in posts %}
<li style="list-style:none;border:2px solid rgb(191, 191, 191);margin:20px">
    <span style="font-weight: bold;"">{{ profile }}</span>
            <br>
            {{ post.post_text }}
            <br>
            {{ post.date}}
            <br>
            {{ post.likes }} ❤️


        </li>
    {% endfor %}

<ul style=" list-style:none;"id="posts"></ul>
        {% endblock %}